* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 500px;
    font-family: georgia;
}

header h1 {
    color: navy;
    text-align: center;
    font-size: 1.4em;
}

form {
    background-color: #eff0f1;
    border: 1px lightgray solid;
    padding: 2%;
    border-radius: 3%;
}

fieldset {
    margin: 3%;
    padding-top: 2%;
}

legend {
    color: rgb(0, 41, 128);
    font-size: 1.1em;
}

select, textarea, input[type="email"], input[type="text"] {
    margin-bottom: 5%;
    position: relative;
    /* left: 10%; */
    width: 70%;
    font-family: arial;
    color: #100c08;
}

label {
    /* position: relative;
    left: 10%; */
    color: #100c08;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

input[type="text"], input[type="email"], select {
    height: 25px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    height: 35px;
    position: relative;
    left: 35%;
    padding: 1%;
}

button:hover {
    background-color: lightgreen;
    color: black;
}

footer {
    color: gray;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 5%;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 5%;
}

.textbox {
    margin: 5%;
}