/* Commenting as part of an assignment. I really like VS, since I don't necessarily
have to remember how to comment when using this program, since there are so
many variants. */
:root {
  --color-whitesmoke: whitesmoke;
  --color-darkblue: darkblue;
  --tenpx: 10px;
}

nav {
    background-color: var(color-darkblue);
    padding: var(tenpx);
}

nav a {
    display: block;
    padding: var(tenpx);
    color: var(--color-whitesmoke);
}

h1 {
    color: var(--color-darkblue);
}

p {
    padding: 0;
}

main {
    max-width: 900px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    max-width: 900px;
    padding: 5px;
    border: gray solid 2px;
    margin: 10px;
    background-color: navy;
    color: var(--color-whitesmoke);
    text-align: center;
}

aside img {
    height: auto;
    width: 200px;
    display: block;
    margin: auto;
}

footer {
    margin-top: 20px;
    border-top: black dashed 2px;
    text-align: center;
}